{% extends "base.html" %}
{% block content %}
{% verbatim %}
<div id="gigUnionMap" class="mapWindow">
  <gmap-map
    :center="center"
    :zoom="7"
    style="width: 100%; height: 500px"
  >
    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :position="m.position"
      :clickable="true"
      :draggable="true"
      @click="center=m.position"
    ></gmap-marker>
  </gmap-map>
</div>
{% endverbatim %}	
{% endblock content %}